:root {
    --blue100: #072AC8;
    --blue300: #A2D6F9;
    --blue200: #1E96FC;
    --yellow200: #fcf300;
    --gray100: #5F5C6B;
    --gray200: #4E4B59;
    --gray300: #33303E;

    --title-x-large: 35px;



}